<h1 *ngIf="meAsPeer">My Peer ID: {{meAsPeer.id}}</h1>
<button (click)="linkToClipboard()">Copy link to clipboard</button>
<h1 class="noconn" *ngIf="!connected">Currently not connected</h1>
<h1 class="conn" *ngIf="connected">Connected with: {{otherPeerId}}</h1>
<input type="checkbox" [(ngModel)]="showMyOwn">
<label>Show my own stream</label>
<br>
<div *ngIf="showMyOwn">
    <h1>My own stream:</h1>
    <video [srcObject]="myMediaStream" autoplay class="ownStream"></video>
    <br>
</div>
<br>

<input type="checkbox" [(ngModel)]="videoCheck">
<label>Video</label>
<br>

<input type="checkbox" [(ngModel)]="audioCheck">
<label>Audio</label>
<br>

<button (click)="startRecording()">Start</button>
<br>

<br>
<h4>Other peer's ID:</h4>
<input type="text" [(ngModel)]="otherPeerId">
<br>
<button (click)="connect()">Connect</button>

<h1>Peer's stream</h1>
<video [srcObject]="peerMediaStream" autoplay></video>
<br>